@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var titPrincipal = "Tipos de Almacenes";
}

@section Estilos {
    <link rel="stylesheet" href="~/vendor/datatables/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/vendor/datatables/extensiones/css/responsive.dataTables.min.css">
    <link rel="stylesheet" href="~/vendor/datatables/extensiones/css/buttons.dataTables.min.css">
}

<!-- Lista -->
<div class="card shadow mb-4">
    <div class="card-header py-3 bg-second-primary">
        <h6 class="m-0 font-weight-bold text-white">@titPrincipal</h6>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-6">
                <button class="btn btn-info" id="btn-nuevo"><i class="fas fa-plus-circle"></i> Nuevo</button>
                <a class="btn btn-success" href="@Url.Action("ListarPDF", "TipoAlmacen")"><i class="fas fa-file-pdf"></i> Listado </a>
                <a class="btn btn-info" href="@Url.Action("Index", "Home")"><i class="fas fa-arrow-left"></i> Regresar</a>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-bordered" id="tbdata" cellspacing="0" style="width:100%">
                    <thead>
                        <tr>
                            <th hidden="hidden">Id</th>
                            <th>Código</th>
                            <th>Descripción</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!--  Modal-->
<div class="modal fade" id="modalData" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4>@titPrincipal</h4>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="Adicionar" method="post" class="needs-validation" novalidate>
                    <input type="hidden" value="0" id="txtPrimaryKey">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-row">
                                <div class="form-group col-sm-3">
                                    <label for="txtCodigo" class="control-label">Código</label>
                                    <input type="text" class="form-control form-control-sm input-validar" id="txtCodigo" required maxlength="20" autocomplete="off" onkeyup="this.value = this.value.toUpperCase();" />
                                    <p class="mensaje" id="codigoMensaje" style="font-size: 15px; color:red"></p>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-sm-12">
                                    <label for="txtName" class="control-label">Descripción</label>
                                    <input type="text" class="form-control form-control-sm input-validar" id="txtName" required maxlength="60" autocomplete="off" />
                                    <p class="mensaje" id="NameMensaje" style="font-size: 15px; color:red"></p>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-sm-3">
                                    <label for="cboEstado">Estado</label>
                                    <select class="form-control form-control-sm" id="cboEstado">
                                        <option value="1">Activo</option>
                                        <option value="0">No Activo</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary btn-sm" type="button" id="btn-guardar"><i class="fas fa-tags"></i> Guardar</button>
                <button class="btn btn-secondary btn-sm" type="button" data-dismiss="modal"><i class="fas fa-arrow-left"></i> Regresar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script src="~/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/dataTables.responsive.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/dataTables.buttons.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/jszip.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/buttons.html5.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/buttons.print.min.js"></script>

    <script src="~/js-vistas/tablas-basicas/tipo-almacen.js"></script>
}
