@{
    Layout = null;
    string pagina = "Pag: " + ViewBag.Pagina;
}

<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            font-family: Arial, Arial, Helvetica, sans-serif;
        }
        table {
            width: 100%;
        }
    </style>
</head>
<body>
    <table border="0">
        <tr>
            <td width="80%"></td>           
            <td width="20%" align="right" valign="middle">@pagina</td>
        </tr>
    </table>
</body>
</html>