
.btn-send {
    width: 100%;
    color: white;
    background-color: #1f75b5;
    border: none;
}

.list-data {
    margin-top: 2em;
}

    
.list-data h4 {
        text-align: center;
        font-weight: bold;

}
